<nav class="nav nav-bar">
    <input type="text" ng-model="searchKeyword" ng-keyup="getSuggestedResult()"   class="form-control custom-input-half-width"
        placeholder="Search">

</nav>
<div class="panel panel-default panel-body" style="padding:0" ng-init="hideSugg = true">
    <!--<div class="col-sm-6 " style="min-height:500px;widht:100%;padding:20px;z-index:9999" >
        <div ng-show="hideSugg">
            <span class="input-group" style="min-height:40px" ng-repeat="s in suggestion" ng-click="placeDetail(s.place_id)">
           {{s.addr}}
        </sapn>
           </div> 
        <p ng-show="searchedResult">
            Street: {{searchedResult.street}} <br> Locality : {{searchedResult.locality}}
            <br> District : {{searchedResult.district}} <br> State: {{searchedResult.state}}
        </p>
    </div>-->
    <div id="map"  style="min-height:500px;padding:0;widht:100%">
    </div>
    
</div>
<span class="pull-right"></span>